<%= form_for(@link) do |f| %>
  <h4><%= f.label :url %>
  <span class="form-field-email"><%= f.text_field :url, class: "form-control" %></span></h4>
  <h4><%= f.label :title %>
  <span class="form-field-password"><%= f.text_field :title, class: "form-control" %></span></h4>
  <%= f.submit "Update Link"%>
  <br><br><br>
<% end %>
