Welcome, <%= current_user.email %>
<%= link_to "Logout", logout_path, method: :delete %>

<%= form_for(@new_link) do |f| %>
  <h4><%= f.label :url %>
  <span class="form-field-email"><%= f.text_field :url, class: "form-control" %></span></h4>
  <h4><%= f.label :title %>
  <span class="form-field-password"><%= f.text_field :title, class: "form-control" %></span></h4>
  <%= f.submit "Create Link"%>
  <br><br><br>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Url</th>
      <th>Title</th>
      <th>Read</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
    <% if link.read %>
      <tr data-id="<%= link.id %>" id="link-<%= link.id %>" class="read">
        <td><%= link.url %></td>
        <td><%= link.title %></td>
        <td>
          <%= link_to "Mark as Unread", link_path(link, read: false), method: :patch %>
        </td>
        <td><%= link_to "Edit", edit_link_path(link) %></td>
      </tr>
    <% else %>
      <tr data-id="<%= link.id %>" id="link-<%= link.id %>" class="unread">
        <td><%= link.url %></td>
        <td><%= link.title %></td>
        <td>
          <%= link_to "Mark as Read", link_path(link, read: true), method: :patch %>
        </td>
        <td><%= link_to "Edit", edit_link_path(link) %></td>
      </tr>
    <% end %>

    <% end %>
  </tbody>
</table>
