<!DOCTYPE html>
<html>
  <head>
    <title>Thoughtbox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <% flash.each do |name, message| %>
    <%= content_tag :div, raw(message) %>
  <% end %>
</html>
